body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.body{
    background-color: beige;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

nav ul li {
    padding: 0 15px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.nav-link:hover {
    color: #ff0; /* Change color on hover */
}
